.login-btn {
    padding: 15px 20px;
    font-size: 10px;
    color: white;
    background: var(--active-hover);
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;                                                                
    transition: 0.2s ease-in-out;
    text-transform: uppercase;
    font-weight: 600;
}
.login-btn:active {
    transform: scale(1.1);
}

.button {
    padding: 15px 50px 15px;
    margin-right: 11px;
    background: $main-orange;
    font-family: 'Lato', sans-serif;
    color: white;
    border: none;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 2px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.button:active {
    background: $main-orange;
}

@media(max-width: 1000px) { 
    .login-btn {
        padding: 10px 15px;
        font-size: 10px;
    }
}